{% extends "base.html" %}
{% load staticfiles %}
{% block register %}
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script type="text/javascript">
        function phlogin() {
            $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: {% url "huyi" %} ,//url
                data: {},
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                },
                error : function() {
                    alert("异常！");
                }
            });
        }
    </script>
    <div class="container">
        <form class="form-horizontal" action="{% url "forgetpassword" %}"  method="post">
              <div class="form-group">
                <label for="inputPhoneNum3" class="col-sm-2 control-label" >PhoneNum</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="exampleInputPhoneNum" placeholder="PhoneNum" name="phone">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Old Password" name="password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword4" class="col-sm-2 control-label">New Password Again</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword4" placeholder="New Password" name="password1">
                </div>
              </div>
                <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">VerifyCode</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="VerifyCode" placeholder="VerifyCode" name="verifycode">
                </div>
              </div>
              <div class="btn btn-default"  onclick="phlogin()">获取验证码</div>

              <div class="container">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                   <div class="btn btn-default"><a href="{% url "phonelogin" %}">Phone Sign in</a></div>
                   <div class="btn btn-default"><a href="{% url "phonelogin" %}">Forget password</a></div>
                   <a class="btn btn-default" href="{% url "register" %}">Haven't account? Go to register</a>
                </div>
                <div class="col-sm-offset-2 col-sm-10">

                </div>
              </div>
        </form>
    </div>
{% endblock %}