{% extends "base.html" %}
{% load staticfiles %}
{% block menu %}
    <section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Specialties
                        </span>
                        <h2>
                            Our Menu
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Breakfast</h3>
                    </div>
                    {% for i in breakfast %}
                        <div class="menus d-flex align-items-center">
                            <div class="menu-img rounded-circle">
                                <img class="img-fluid" src="{{ i.food_img }}" alt="">
                            </div>
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <h4>{{ i.food_name }}</h4>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="text-muted menu-price">${{ i.food_price }}</h4>
                                    </div>
                                </div>
                                <p>{{ i.food_cooker }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Breakfast</h3>
                    </div>
                    {% for i in lunch %}
                        <div class="menus d-flex align-items-center">
                            <div class="menu-img rounded-circle">
                                <img class="img-fluid" src="{{ i.food_img }}" alt="">
                            </div>
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <h4>{{ i.food_name }}</h4>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="text-muted menu-price">${{ i.food_price }}</h4>
                                    </div>
                                </div>
                                <p>{{ i.food_cooker }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Breakfast</h3>
                    </div>
                    {% for i in dinner %}
                        <div class="menus d-flex align-items-center">
                            <div class="menu-img rounded-circle">
                                <img class="img-fluid" src="{{ i.food_img }}" alt="">
                            </div>
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <h4>{{ i.food_name }}</h4>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="text-muted menu-price">${{ i.food_price }}</h4>
                                    </div>
                                </div>
                                <p>{{ i.food_cooker }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}